@model IEnumerable<ChallengeCarAuction.Models.Auction>

@{
    ViewData["Title"] = "Index";
    var index = 0;
}

<h1>Auctions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Active
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.VehicleType)
            </th>
            <th>
                Property
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActiveText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.ModelYear)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.VehicleType)
                </td>
                <td>
                    @ViewBag.CarInfo[index]
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
